apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-test
  template:
    metadata:
      labels:
        app: simple-test
    spec:
      containers:
      - name: nginx
        image: nginx:alpine
        ports:
        - containerPort: 80
        # 仅保留最基本的探针
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
          
apiVersion: v1
kind: Service
metadata:
  name: simple-service
spec:
  selector:
    app: simple-test
  ports:
  - port: 80
    targetPort: 80
    nodeport: 30080
   type: NodePort
